h1{
    color:black;
}
html, body{
    height:100%;
    margin:0;
}
.title{
    background: rgb(70, 172, 255);
    margin:0;
    height:40px;
}
.head{
    height:50px;
    margin:0;
    padding:0;
    display: table;

}
.head, a{
    text-decoration:none;
    color:black;
    height:50px;
    display:block;
    padding:0 55px;
    line-height:35px;
}
.head,li{
    list-style-type: none;
    float: left;
    margin: auto;
    display: block;
    height:50px;
    text-align:center;
}
ul li a:hover{
    background: #fff;
    color:black;
}


/* .Hidden{
    display: none;
}
.title{
    display: block;
}
.title:hover+.Hidden{
    display: block; 
} */

.adidas{
    display: block;
}
.every{
    display: block;
}
.every:hover + .adidas {
    display: block;
}


  .bloggood-ru-div { 
    display: none;
  }
  a.bloggood-ru-ssilka:hover+div {
    display: block;  
  }
  
